<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>memory</string>
  <key>CFBundleDisplayName</key>
  <string>Memory</string>
  <key>CFBundleIdentifier</key>
  <string>org.stoneship.memory</string>
  <key>CFBundleIconFile</key>
  <string>Memory.icns</string>
  <key>CFBundleName</key>
  <string>Memory</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1</string>
  <key>CFBundleVersion</key>
  <string>BUILD</string>
  <key>NSHumanReadableCopyright</key>
  <string>© 2017 Denis Defreyne</string>
</dict>
</plist>
